@charset "utf-8";
/* CSS Document */
.tt{
position: relative;
color: #826821;
font-size: 15px;
display: block;
padding-bottom: 20px;
}

h2{
	padding: 10px;
}

.line{

border-bottom: 1px solid #cacaca;
margin-bottom: 5px;
padding-bottom: 3px;	
}

#form1{
margin-left: auto;
margin-right: auto;
width: 700px;
font-size: 13px;
color: #252525;
line-height: 10px;

	
}
span{
	position:relative;
	    line-height: 56px;
	    color: rgba(0, 0, 0, 0.66);
	    padding-right: 21px;
	    text-align: justify;
	    display: block;
}

input, select{
border: 0;
padding: 10px;
font-size: 13px;
outline: 0;
color: black;
line-height: 17px;

}

input, textarea, select{
	border-radius: 10px;
	    line-height: 22.22px;
}
input{
	-webkit-appearance: none;
}
#fg-1{

	width: 100%;
	height: auto;
	margin: 20px;
	margin-top: auto;
	padding: 1px;
	
	}
.b{
	margin-top: 10px
}
	