@charset "utf-8";
body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #747474;
}
#main {
	background-image: url(images/bgline.gif);
	background-repeat: repeat-y;
	width: 864px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
img {
    border:0px;
}
/*表頭*/
#header {
	padding-top:8px;
	padding-bottom:5px;
	border-bottom:1px dotted #707070;
	margin-right:15px;
	margin-left:15px;
}
#topmenu {
	float: left;
	margin-top:8px;
	margin-left:7px;
}
#topmenu a{
	font-size: 12px;
	color: #747474;
	text-decoration:none;
}
#topmenu a:hover{
    color: #FF5D00;
	text-decoration:underline;
    border-bottom:1px solid #CE4B00;
}
/*內容*/
#containleft {
	float: left;
	text-align:left;
	width:165px;
}
#containright {
	float: right;
	width:665px;
	margin-top:5px;
	margin-right:13px;
	height: auto;
}
#tsFrame {
	width:665px;
	margin-top:0px;
	margin-right:0px;
}
.leftboard {
    background-image:url(images/board_bg.gif);
	width:166px;
	margin-left:15px;
	margin-top:7px;
}
#containleft .leftboard ul {
	margin-top:0px;
	margin-bottom:0px;
}
#containleft .leftboard li {
	list-style-image: url(images/arrow.gif);
	line-height: 1.8em;
}
.leftboard a{
    font-size: 12px;
	color: #747474;
	text-decoration:none;
}
.leftboard a:hover{
	color: #FF5D00;
}
.newcloth {
	float: left;
	padding:10px;
	width:195px;
	border:1px solid #D6D6D6;
	margin:2px;
	text-align:left;
	height: 88px;
	overflow: hidden;
}
.clothes {
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 7px;
	height: 145px;
	width: 155px;
	overflow: hidden;
}
#detail {
	float: none;
	margin:10px;
	padding-bottom:20px;
	border-bottom:1px dotted #D7D7D7;
	padding-left:20px;
	height: 300px;
	overflow: hidden;
	width: 665px;
}
#cartlist {
	float: left;
	margin:10px;
	padding-bottom:30px;
}
/*通用*/
.clearboth {
    clear:both;
}
.type2 {
	float:left;
	margin-right:8px;
}

.mylink a{
	font-size: 12px;
	color: #747474;
	text-decoration:none;
}
.mylink a:hover{
    color: #FF5D00;
	text-decoration:underline;
    border-bottom:1px solid #CE4B00;
}

.pagelink a{
	font-size: 12px;
	color: #6699FF;
	text-decoration:none;
}
.pagelink a:hover{
	color: #FF5D00;
	text-decoration:none;
}
.type1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: right;
	color: #747474;
}
#search {
	float: right;
	margin-top: 4px;
}
