@charset "utf-8";
body{
	font-family: "標楷體";
	font-weight: 500;
	font-size: 16px;
}
#Bshop {
	height: auto;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
#Shoping {
	height: auto;
	width: 100%;
	
}
#Simg {
	height: auto;
	width: 80%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
.shop_content {
	float: left;
	display: inline-block;
	height: auto;
	width: 50%;
}
.clear {
	clear: both;
}
#otherthing {
	height: auto;
	width: 100%;
}
.Otherthings {
	background-color: #900;
	margin: auto;
	float: left;
	height: 200px;
	width: 200px;
}